{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Agregar Sensor{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Nombre</label>
    <input name="name" id="name" autoocus required>
    <label for="lugar">Lugar</label>
    <select name="lugar" id="lugar">
      {% for lugar in lugares %}
         <option value="{{ lugar['id'] }}"> {{ lugar['name'] }} </option>
      {% endfor %}
    </select>
    <label for="datatype">Tipo</label>
    <select name="datatype" id="datatype">
      {% for datatype in datatypes %}
         <option value="{{ datatype }}"> {{ datatype }} </option>
      {% endfor %}
    </select>

    <input type="submit" value="Register">
  </form>
{% endblock %}
